<div class="dashboard">
  <h2>Welcome, {{ adminName }}</h2>

  <div class="card-grid">
    <div class="card">📋 Total Customers: 5</div>
    <div class="card">📦 Products: 8</div>
    <div class="card">💰 Total Sales: ₹50,000</div>
    <div class="card">🧾 Outstanding Dues: ₹3,500</div>
  </div>

  <div class="actions">
    <button routerLink="/customers">Add Customer</button>
    <button routerLink="/products">Add Product</button>
    <button routerLink="/transactions">View Transactions</button>
    <button routerLink="/reports">View Reports</button>
  </div>
  <router-outlet></router-outlet>
</div>
