<div class="employee-dashboard">
  <h2>Welcome, Employee 👋</h2>

  <div class="card-row">
    <mat-card class="summary-card">
      <mat-card-title>Customers</mat-card-title>
      <mat-card-content>{{ totalCustomers }}</mat-card-content>
    </mat-card>

    <mat-card class="summary-card">
      <mat-card-title>Products</mat-card-title>
      <mat-card-content>{{ totalProducts }}</mat-card-content>
    </mat-card>

    <mat-card class="summary-card">
      <mat-card-title>Total Sales</mat-card-title>
      <mat-card-content>₹{{ totalSales }}</mat-card-content>
    </mat-card>
  </div>
</div>
