<!-- app.component.html -->
<div class="app-wrapper">

  <!-- If NOT logged in -->
  <div *ngIf="!isLoggedIn()" class="welcome-screen">
    <header class="app-header">
      <h1>Welcome to <span class="brand">SmartBiz</span></h1>
      <p class="subtitle">Your Smart Ledger for Smarter Business 📊</p>
    </header>
    <router-outlet></router-outlet>
  </div>

  <!-- If LOGGED in -->
  <!-- <div *ngIf="isLoggedIn()" class="main-layout"> -->
    <!-- <app-sidebar class="sidebar"></app-sidebar> -->
    <app-sidebar *ngIf="isLoggedIn()"></app-sidebar>

    <div class="main-content">
      <header class="topbar">
        <h2>SmartBiz Dashboard</h2>
        <span class="user-info">Logged in as: {{ getUserRole() }}</span>
      </header>
      <main class="content">
        <router-outlet></router-outlet>
      </main>
    </div>
  </div>
  <div *ngIf="showToast" class="toast">
  ✅ Logout successful!
</div>


<!-- </div> -->
